body{
    overflow: hidden
}

 .pageRow{
    height: 100vh;
}

#gameTable{
    height: 100%;
    width: 100%;
    border: 1px solid grey transparent;
}

.edges{
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
}

#instruction{
    background-color: beige;
}

#logo{
    height: 15%;
    width: 50%;
}

#instructionLabel{
    font-size: 20px;
    font-weight: bold;
    font-family: Comic Sans MS;
}

#description{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

#descriptiveDiv{
    background-color: bisque;
    border: solid 2px;
    text-align: center;
    
}

#shapes{
    text-align: center;
    
}

.chooseLabel{
    font-family: 'Times New Roman', Times, serif;
}

#modeDiv{
    text-align: center;
    background-color: bisque;
    border: dotted 2px;
}

div{
    text-align: center;
}

